<!-- Modal Trigger Button -->
<!-- <button class="btn btn-secondary" (click)="openModal()">More Info</button> -->
<button href="#" class="btn btn-secondary" (click)="openModal()">More info</button>
<!-- Modal Container -->
<div class="modal-container" *ngIf="isModalOpen">
  <!-- Modal Content -->
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h2>Modal Title</h2>
      <button (click)="closeModal()">Close</button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
      <p>Modal content goes here.</p>
    </div>
  </div>
</div>


