

<div class="section-container">

  <div class="container info-container" >

    <section class="intro">
      <h1>Floorplan</h1>
      <h2>Clear, comprehensive layout blueprint.</h2>
      <div class="image_carousel_container">
        <img class="responsive" src="https://firebasestorage.googleapis.com/v0/b/seattlerealestatemedia.appspot.com/o/Floorplan%2Fall_floors.jpg?alt=media&token=d931b280-a4d2-48e4-bdb0-a714f83939e6&_gl=1*1f90fkl*_ga*NzUxOTY4MTcuMTY4MTM2MzAzMQ..*_ga_CW55HF8NVT*MTY4NjY2NTIxMS4yMC4xLjE2ODY2NjczNzEuMC4wLjA." alt="2D Floor plan for a large home."/>

      </div>
        <div class="btn-group">
          <a href="#" routerLink="/floorplan"  class="fs-500">Learn More ></a>
      </div>

      </section>

  </div>

  <div class="container info-container" >

    <section class="intro">
      <h1>Virtual Staging</h1>
      <h2>Build an emotional connection.</h2>
      <div class="image_carousel_container">

        <img class="responsive" src="https://firebasestorage.googleapis.com/v0/b/seattlerealestatemedia.appspot.com/o/Staging%2FVIrtualyStaged.jpg?alt=media&token=eb56f70d-73a4-4e68-8c0e-b56590b91715&_gl=1*c5t4uk*_ga*NzUxOTY4MTcuMTY4MTM2MzAzMQ..*_ga_CW55HF8NVT*MTY4NjY2NTIxMS4yMC4xLjE2ODY2Njc4NDEuMC4wLjA." alt="an example of virtual staging in an old empty home." />

      </div>
        <div class="btn-group">
          <a href="#"  routerLink="/staging" class="fs-500">Learn More ></a>
      </div>

      </section>

  </div>

</div>


