<section id='matterport'>
    <div class='container-fluid container-padding'>
      <div class='row'>
        <div class='col-md-6 ' style='display: table-cell;vertical-align: middle; text-align: left !important; color:#f5f5f5;'>
          <img class='responsive' src='https://1.bp.blogspot.com/-BiT4xISoNZw/XzwOyxiAbqI/AAAAAAADntA/hWziUSDc_SIULpXCtavxrIkc5cGNZK0eACLcBGAsYHQ/s640/19918-119th-Ave-SE-08182020_101528.jpg' style=' border:1px solid black'/>
        </div>
        <div class='col-md-6 ' style='display: table-cell; vertical-align: middle; text-align: left !important;  color:#f5f5f5;'>

          <h2 class='pageHeader'>MATTERPORT 3D TOURS</h2>

          <p>
            Matterport 3D tours, Zillow 3D Home, and Cupix 3D Virtual Space all help create a full immersive virtual
            experience for potential buyers. It is the best way to let your customer experience your listing online
            from the safety and comfort of their home. Plus, 3D Tours allow the luxury of a 24/7 open house.


          </p>
          <ul>
            <li>According to a recent study, consumers say a 3D virtual home tour is the second most desired feature
              in their home search after professional bright photos.</li>
            <li>Zillow&#174; listings with a 3D Tour receive twice the number of views as other listings.</li>
          </ul>
  
         <div class='pageButtons' style='text-align:center'>
            <button class='buttons internal' data-id='booknow' href='#booknow' style='color: #0f1626; background-color: #FF533D; border-color: #0f1626; padding: 10px 10px; ' target='_blank'>
              <span class='buttons' style='position:relative; display:inline-block; outline:0; padding: 12px 26px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
                SCHEDULE TODAY</span>
            </button>

            <button class='nav-link internal buttons btnPage5Gallery' data-id='matterportGallery' id='btnPage5Gallery' style='color: #0f1626; background-color: #FF533D; border-color: #0f1626; padding: 10px 10px; margin-left: 10px; display:inline !important;' target='_blank'>
              <span class='buttons btnPage5Gallery' style='position:relative; display:inline-block; outline:0; padding: 12px 26px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
                VIEW GALLERY</span>
            </button>
          </div>

        </div>

      </div>
    </div>

  </section>
<!--END page5-->

<div id='page5Gallery'>

  <section id='matterportGallery'>

    <div class='container-fluid container-padding'>

      <div class='row'>
        <div class='col-md-9' style='vertical-align: middle; color:#f5f5f5;'>
          <h2 class='pageHeader'>Latest 3D Tours Walkthrough Gallery</h2>
  
        </div>
        <div class='col-md-3'>
          <button class='buttons btnPage5GalleryClose' id='btnPage5GalleryClose' style='color: #0f1626; background-color:#F5F5F5 ; border-color: #0f1626; padding: 5px 5px; margin-left: 10px;' target='_blank'>
            <span class='buttons btnPage3Gallery' style='position:relative; display:inline-block; outline:0; padding: 10px 22px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
              CLOSE GALLERY</span>
          </button>
        </div>
      </div>
     
      <div class='row'>
        <div class='col-md-4' style='padding:20px;'>
          <div class='video-container'>
            <iframe allow='xr-spatial-tracking' allowfullscreen='' frameborder='0' src='https://my.matterport.com/show/?m=zUU38CHjHH9'></iframe>
          </div>
    
        </div>
        <div class='col-md-4' style='padding:20px;'>
          <div class='video-container'>
            <iframe allow='xr-spatial-tracking' allowfullscreen='' frameborder='0' src='https://my.matterport.com/show/?m=9vKiZgxaUs1'></iframe>
          </div>
            
        </div>
        <div class='col-md-4' style='padding:20px;'>
          <div class='video-container'>
            <iframe allow='xr-spatial-tracking' allowfullscreen='' frameborder='0' src='https://my.matterport.com/show/?m=Q6GGVsk8S1E'></iframe>
          </div>
        </div>
      </div>

      <div class='row'>
  
        <div class='col-md-3'>
          <button class='buttons btnPage5GalleryClose' id='btnPage5GalleryClose' style='color: #0f1626; background-color:#F5F5F5 ; border-color: #0f1626; padding: 5px 5px; margin-left: 10px;' target='_blank'>
            <span class='buttons btnPage3Gallery' style='position:relative; display:inline-block; outline:0; padding: 10px 22px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
              CLOSE GALLERY</span>
          </button>
        </div>
      </div>


    </div>

  </section>
</div>
<!--END page5Gallery-->