<div class="section-container">
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <img
      class="responsive"
      src="https://firebasestorage.googleapis.com/v0/b/seattlerealestatemedia.appspot.com/o/3D%2F3DTour.gif?alt=media&token=3ed4bba6-392f-4d32-b917-22a3f25a568c&_gl=1*isnntq*_ga*NzUxOTY4MTcuMTY4MTM2MzAzMQ..*_ga_CW55HF8NVT*MTY4NjU5MTkyNC4xOS4xLjE2ODY1OTMyODIuMC4wLjA."
      style="border: 0px solid black"
    />
    </div>
  </div>

  <div class="container info-container">
    <section class="intro">
      <h1>3D Tours</h1>
      <p class="subtitle">
        Matterport 3D tours, Zillow 3D Home, and Cupix 3D Virtual Space all help
        create a full immersive virtual experience for potential buyers. It is
        the best way to let your customer experience your listing online from
        the safety and comfort of their home. Plus, 3D Tours allow the luxury of
        a 24/7 open house
      </p>

      <div class="btn-group">
        <a href="#booknow" class="btn btn-accent">Book Online</a>
        <!-- <app-modal [title]="'3D Tours'" [description]="'<ul> <li> According to a recent study, consumers say a 3D virtual home tour is the second most desired feature in their home search afterprofessional bright photos. </li> <li> Zillow&#174; listings with a 3D Tour receive twice the number of viewsas other listings. </li> </ul>We offer two cutting-edge 3D Tour options as part of our real estate photography services, providing you with immersive and interactive experiences that allow potential buyers to explore your property in a unique way.'" [pageName]="'3D'"></app-modal> -->
      </div>
    </section>
  </div>
</div>
