
<div class="section-container">

  <div class="container carousel-container">
    
    <div class="image_carousel_container">
      <img class='responsive' src='https://1.bp.blogspot.com/-BiT4xISoNZw/XzwOyxiAbqI/AAAAAAADntA/hWziUSDc_SIULpXCtavxrIkc5cGNZK0eACLcBGAsYHQ/s1024/19918-119th-Ave-SE-08182020_101528.jpg' style=' border:1px solid black'/>
    </div>
  
</div>

  <div class="container info-container" >

    <section class="intro">      
      <h1>3D Tours</h1>
      <p>
        Matterport 3D tours, Zillow 3D Home, and Cupix 3D Virtual Space all help create a full immersive virtual
        experience for potential buyers. It is the best way to let your customer experience your listing online
        from the safety and comfort of their home. Plus, 3D Tours allow the luxury of a 24/7 open house

      </p>
      <ul>
        <li>According to a recent study, consumers say a 3D virtual home tour is the second most desired feature
          in their home search after professional bright photos.</li>
        <li>Zillow&#174; listings with a 3D Tour receive twice the number of views as other listings.</li>
      </ul>

        <div class="btn-group"> 
        <a href="#" class="btn btn-accent">Inquire</a>
        <a href="#" class="btn btn-secondary">More info</a>
      </div>
      <app-table-card-list [pageName]="'3d'" ></app-table-card-list>
      </section>

  </div>


</div>