<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Aerial Photography</h1>
      <h2 class="pageHeader">& Video</h2>
      <p class="subtitle">

        Aerial photography and video have gained popularity in real estate for their unique ability to offer a different perspective of properties. Drones enable us to capture stunning footage from above, showcasing distinctive features of a property from a bird's-eye view.
<br/><br/>
        Luxury properties with waterfront views, extensive land, and unique land features can be effectively highlighted using aerial/drone photography and video.
        <br/><br/>
        By visually representing the property and its surroundings, aerial photography and video help potential buyers grasp the property's offerings. This is particularly valuable for showcasing the property's location, proximity to amenities, and natural surroundings.
        <br/><br/>
        By capturing aerial footage of the neighborhood and landmarks, agents facilitate potential buyers in comprehending the property's location and its exceptional surroundings.


      </p>
      <div class="btn-group">
        <a href="#booknow" (click)="scrollTo('estimator')" class="btn btn-accent">Book Online</a>
        <app-modal [title]="'Aerial Photography & Video'" [description]="'By providing a visual representation of the property and its surroundings, aerial photography and video can help potential buyers get a better idea of what the property has to offer. This is especially useful for showcasing a property&#8217;s location, proximity to amenities, and natural surroundings.By capturing footage of the surrounding neighborhood and landmarks from above, agents can help potential buyers get a better understanding of the property&#8217;s location and its unique surroundings.'" [pageName]="''"></app-modal>
      </div>
    </section>
  </div>
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <app-dynamic-image-carousel
        [galleryType]="'aerial'"
      ></app-dynamic-image-carousel>
    </div>
  </div>
</div>
