
<div class="section-container">

  <div class="container carousel-container">
    <div class="image_carousel_container">
      <app-dynamic-image-carousel
        [galleryType]="'floorPlan'"
      ></app-dynamic-image-carousel>
    </div>
  </div>

  <div class="container info-container">
    <section class="intro">
      <h1>Floor Plan</h1>

      <p class="subtitle">

        <br />
        <br />
        Often, buyers like to see how rooms relate to each other and how the
        property flows when buying a home. Unlike a simple photograph, a floor
        plan contains more information about each home. It is also important to
        consider dimensions during this process. Buyers will be able to
        determine whether a property suits their needs if its dimensions are
        clear, which can be difficult in some cases.
        <br />
        A floor plan gives the buyer a chance to visualize the property as their
        very own, rather than someone else&#39;s.

        <br />
      </p>
      <div class="btn-group">
        <a href="#booknow"  class="btn btn-accent">Book Online</a>
        <!-- <app-modal [title]="'Floor Plan'" [description]="'When viewing your listings, potential buyers and/or tenants will appreciate this option. With windows, doors, rooms, and spaces drawn. Room names can be customized as needed. Individual room measurements can be displayed, or they can be left out entirely. Delivered as a jpg file, which you can add to your listing alongside the photographs. A black and white floor plan is the clear way for you potential buyers to get a good understanding of the home&#8217;s layout.'" [pageName]="''"></app-modal> -->
      </div>
    </section>
  </div>




</div>
