.tableCard_container{
  width: 100%; /* Dynamic width - adjust as needed */
  max-width: 400px; /* Optional: set a maximum width for the card */
  background-color: hsl(var(--clr-light));
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  flex-shrink: 1;
}

h1{
  color: hsl(var(--clr-dark));
    font-size: calc(1rem + .5vw);
    font-family: var( --ff-Montserrat);
    margin: 0 0 0.25em;
    line-height: 1;
    max-width: 100%;

}

// .tableCard_container > * {
// //  padding-inline:4rem;
// }

.tableCard_image{
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    // background-color: green;
    width: 100%;
}

.tableCard_price{
    position: absolute;
    top:1rem;
    left: 1rem;
    font-size: var(--fs-700);
    color: hsl(var(--clr-dark));

}

.tableCard_title{
    padding: 0;
}


.tableCard_subtitle{
    // padding-inline: 2rem;
    color:  hsl(var(--clr-dark));
    font-size: var(--fs-400);
    width: 100%;
    // position: absolute;
    // bottom:3rem;
    /* font-weight: 200; */
    text-align: Left;
    vertical-align: top;
    // background-color: aqua;
    z-index: 1;
}

.tableCard_buttons{

    display: none;

}

@media (max-width: 35rem) {
    .tableCard_container{
        flex-grow: 1;
        width: 17rem;
        display: grid;
        position: relative;
        background-color: hsl(var(--clr-light));
        border-radius: 5px;
        min-height: 350px;
    }

    .tableCard_container > * {
        padding-inline:2rem;
       }

}
