.product_container
{
    background-color: hsl(var(--clr-white));
    padding: 0 1.5rem 0 1.5rem;
    height: 18rem;
    border-radius: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.125)
}



.hidden{
    visibility: hidden;
}

.product_header{
    display: flex;
    flex-wrap: nowrap;
}

.product_title{
    font-size: 1.5rem;
    font-weight: 600;
    word-wrap: normal;
    width: 12rem;
}
.product_subtitle{
    line-height: .25rem;
    font-size: .75rem;

}

.product_icon{
    width: 4rem;
}

// .selected{
//    // background-color: #5cb85c;
//   }

  .selected::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    border-radius: 5rem  0 0 5rem;
    height: 100%; /* Set height to 100% to span the height of the div */
    // background-color: #ff4500;
    background-color: #ff4500;
  }

  ul> li {
    font-size: .9rem;
    width: 10rem;
  }


  @media (max-width: 35rem) {

    .product_container
{
    background-color: hsl(var(--clr-white));
    padding: 1rem 0 0 1rem;
    height: 5rem;
    border-radius: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.product_id{
  display: none;
}
.product_icon{
  width: 4rem;
}

.product_title{
  font-size: 1rem;
  font-weight: 500;
  word-wrap: normal;
  width: 6rem;
}

    .product_features{
      display: none;
    }
  }

  @media screen and (min-width: 48rem) {
    .product_container
{
    background-color: hsl(var(--clr-white));
    padding: 0 1rem 0 1rem;
    height: 17rem;
    border-radius: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.product_icon{
  width: 4rem;
}

.product_title{
  font-size: 1rem;
  font-weight: 500;
  word-wrap: normal;
  width: 7rem;
}

    // .product_features{
    //   display: none;
    // }

  }
