<app-navbar></app-navbar>
<section id="about">
  <app-hero></app-hero>
</section>
<section id="portfolio">
  <app-photo></app-photo>
</section>
<section id="aerial">
  <app-aerial></app-aerial>
</section>
<section id="floorPlan">
  <app-floorplan></app-floorplan>
</section>
<section id='matterport'>
<app-tour3d></app-tour3d>
</section>
<section id='staging'>
  <app-staging></app-staging>
</section>
<section id='video'>
  <app-video></app-video>
</section>
<!--
<app-calculator></app-calculator>-->
<app-footer></app-footer> 

<app-estimator></app-estimator>
