<div class="section-container">
  <div class="estimator_container">


  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="info">
       <h1>Online Booking</h1>
    </div>

    <div class="client_info_form">
      <div class="client_info_form_input">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required>
    </div>
    <div class="client_info_form_input">
    <label for="email">Email address:</label>
    <input type="email" id="email" formControlName="email" required>
  </div>
  <div class="client_info_form_input">
    <label for="address">Property Address:</label>
    <textarea id="address" formControlName="address" required></textarea>
  </div>
  <div class="client_info_form_input">
    <label for="date">Prefered Date:</label>
    <input type="date" id="date" min ={{today}} formControlName="date" required>
  </div>
  <div class="client_info_form_input">
    <label for="time">Prefered Time Slot:</label>
    <select id="time" formControlName="time" required>
      <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">{{ timeSlot }}</option>
    </select>
  </div>
  <div class="client_info_form_input">
    <label for="size">Home Size(sq ft):</label>
    <select #homeSizeInput (change)="onSelected(homeSizeInput.value)" id="size"  formControlName="size" required>
      <option *ngFor="let size of homeSize" [value]="size">{{ size }}</option>
    </select>
  </div>
  </div>


  <div class="notes_cart"  #notes_cart>
    <div class="notes"> <small>Please select between Essentials and Showcase Packages.</small></div>
    <div class="cart"><div class="estimator_total sticky-item" [ngClass]="{'fixed': isSticky}">Total:  ${{total}} <span style="font-size: .7rem;">+tax</span></div></div>

  </div>
  <div class="estimator">


    <app-dynamic-service-card class="estimator_card" *ngFor="let product of listOfProducts" [productObj]="product" (click)="addToTotal(product)"></app-dynamic-service-card>
  </div>

  <div class="estimator_button_group">
    <button class="btn btn-secondary" type="submit" >Book Now</button>
  </div>


  <div class="estimator_notes">
  <span>* All images delivered MLS optimized in less than 24 hours, print size by request. Fires in Fireplace and TV reflections removed standard for all packages.</span>
  <span>** Virtual Staging is done by a 3rd party, 24 hour turnaround.</span>
    <span>$2 per mile, travel fee applies to locations</span>
      <span>that are 20 miles or more one way from my business address with the zip code of 98042 in Kent, WA</span>
  </div>

  </form>
  </div>
