.section-container {
  width: 80%;
  margin: auto;
}
.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  width: 22%;
  padding: 0 20px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column li {
  // margin-bottom: 1rem;
}

.footer-column a {
  text-decoration: none;

  font-weight: bold;
}

.footer_link{
  font-size: .7rem;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

a{
  color: hsl(var(--clr-dark));
}

@media (max-width: 768px) {
.footer-columns {
  flex-direction: column;
  align-items: center;
}
.footer-column {
  width: 100%;
  margin-bottom: 20px;
}
}
