

<!--<div class="container links-container">





  <a class="footer_link" data-id="about" outerLink="/" >HOME</a>










</div>
<div class="container links-container">

  <a class="footer_link"  href="tel:4253904204">425 390 4204</a>

</div>
<div class="container links-container">


</div>
<div class="container">
  <p style="text-align: center">
    Copyright &#169; 2018 - 2022 Seattle Real Estate Photo - All Rights
    Reserved. Design by Alex Bucse.
  </p>
</div>
 <users>
	<user style='color:#fff'>1701D660830AD8C7BF62F648324373F4</user>
</users>-->
<div class="section-container">
<div class="footer-column">
  <h3>COMMERCIAL</h3>
  <ul>
      <li><a class="footer_link" data-id="AirBnB" routerLink="/airBnB" >AirBnB & Vrbo</a></li>
      <li><a class="footer_link" data-id="Rental" routerLink="/landlord" >Rental</a></li>
      <li><a class="footer_link" data-id="PropertyManagment" routerLink="/propertymanagment" >Property Management</a></li>
      <!-- <li><a href="#">Link 4</a></li> -->
  </ul>
</div>
<div class="footer-column">
  <h3>SERVICES</h3>
  <ul>
      <li><a class="footer_link" data-id="portfolio" routerLink="/photography"  >Photography</a></li>
      <li><a class="footer_link" data-id="video" routerLink="/video" >Video</a></li>
      <li><a class="footer_link" data-id="aerial" routerLink="/aerial" >Aerial</a></li>
      <li><a class="footer_link" data-id="matterport" routerLink="/3d"  >Matterport 3D</a></li>
      <li><a class="footer_link" data-id="floorplan" routerLink="/floorplan"   >Floor Plan</a></li>
      <li><a class="footer_link" data-id="staging" routerLink="/staging" >Staging</a></li>
      <li><a class="footer_link" data-id="headshots" routerLink="/headshots"  >Headshots</a></li>
      <li><a class="footer_link" data-id="branding" routerLink="/branding"  >Branding</a></li>
      <li><a class="footer_link" data-id="websites" routerLink="/websites"  >Websites</a></li>
      <li><a class="footer_link" data-id="pricing"  routerLink="/estimate" >Get an Estimate</a></li>
  </ul>
</div>
<div class="footer-column">
  <h3>CONTACT</h3>
  <ul>
      <li><a class="footer_link"  href="mailto:seattlerealestatephoto@gmail.com"> Email</a></li>
      <li><a class="footer_link"  href="http://www.instagram.com/seattlerealestatemedia" target="_blank">Instagram</a></li>
      <li><a class="footer_link"  href="http://www.facebook.com/seattlerealestatemedia" target="_blank">Facebook</a></li>
      <li><a class="footer_link" href="https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg" target="_blank">YouTube</a></li>
      <li> <a class="footer_link" href="https://g.page/r/Cd985ZIFCBSGEB0/review">Google</a></li>
      <li><a class="footer_link"  href="https://www.yelp.com/biz/monkifoto-renton" target="_blank">Yelp</a></li>
  </ul>
</div>
<div class="footer-column">
  <h3>CLIENT ACCESS</h3>
  <ul>
      <li> <a class="footer_link" href="https://seattlerealestatephoto.pixieset.com/">Client Portal</a></li>
      <li><a class="footer_link" href="#" routerLink="/admin" routerLinkActive="active">Admin</a></li>
      <!-- <li><a href="#">Link 15</a></li> -->
      <!-- <li><a href="#">Link 16</a></li> -->
  </ul>
</div>
</div>
