

<div class="container links-container">

  <a class="footer_link" data-id="AirBnB" routerLink="/airBnB" >AIRBNB</a>
  <a class="footer_link" data-id="Rental" routerLink="/landlord" >RENTAL</a>
  <a class="footer_link" data-id="PropertyManagment" routerLink="/propertymanagment" >PROPERTY MANAGMENT</a>

  <a class="footer_link" data-id="about" outerLink="/" >HOME</a>
  <a class="footer_link" data-id="portfolio" routerLink="/photography"  >PHOTOGRAPHY</a>
  <a class="footer_link" data-id="video" routerLink="/video" >VIDEO</a>
  <a class="footer_link" data-id="aerial" routerLink="/aerial" >AERIAL</a>
  <a class="footer_link" data-id="matterport" routerLink="/3d"  >MATTERPORT 3D</a>
  <a class="footer_link" data-id="floorplan" routerLink="/floorplan"   >FLOOR PLAN</a>
  <a class="footer_link" data-id="staging" routerLink="/staging" >STAGING</a>
  <a class="footer_link" data-id="headshots" routerLink="/headshots"  >HEADSHOTS</a>
  <a class="footer_link" data-id="branding" routerLink="/branding"  >BRANDING</a>
  <a class="footer_link" data-id="websites" routerLink="/websites"  >WEBSITES</a>
  <a class="footer_link" data-id="pricing"  routerLink="/estimate" >BOOK NOW</a>
</div>
<div class="container links-container">
  <a class="footer_link"  href="mailto:seattlerealestatephoto@gmail.com"> EMAIL</a>
  <a class="footer_link"  href="tel:4253904204">425 390 4204</a>
  <a class="footer_link"  href="http://www.instagram.com/seattlerealestatemedia" target="_blank">INSTAGRAM</a>
  <a class="footer_link"  href="http://www.facebook.com/seattlerealestatemedia" target="_blank">FACEBOOK</a>
  <a class="footer_link" href="https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg" target="_blank">YOUTUBE</a>
  <a class="footer_link"  href="https://www.yelp.com/biz/monkifoto-renton" target="_blank">YELP</a>
  <a class="footer_link" href="https://g.page/r/Cd985ZIFCBSGEB0/review">GOOGLE</a>
</div>
<div class="container links-container">
  <a class="footer_link" href="https://seattlerealestatephoto.pixieset.com/">CLIENT PORTAL</a>
  <a class="footer_link" href="#" routerLink="/admin" routerLinkActive="active">ADMIN</a>
</div>
<div class="container">
  <p style="text-align: center">
    Copyright &#169; 2018 - 2022 Seattle Real Estate Photo - All Rights
    Reserved. Design by Alex Bucse.
  </p>
</div>
<!-- <users>
	<user style='color:#fff'>1701D660830AD8C7BF62F648324373F4</user>
</users> -->
