<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>About Me</h1>

      <p class="subtitle">
        <img
          alt="Alex Bucse"
          src="https://1.bp.blogspot.com/-mkT1lxjA3cA/X39u-wvRTYI/AAAAAAADpkg/gcFZGp2HzAEep2Htc859m2UZezn4GCwkACLcBGAsYHQ/s160/DSC00376-Edit.jpg"
          style="border-radius: 50%; padding-bottom: 30px; padding-top: 50"
        />
        <br />
        <b>Alex Bucse</b>
        <br />
        <strong>Licensed Agent with EXP Realty</strong>
        <br />
        <small
          >Founder of <br />Seattle Real Estate Photo
          <br />
          (425) 390-4204
        </small>
      </p>
    </section>
  </div>
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <p>
        While attending Sammamish Highschool, I began my photography career. I
        was offered a sales position at Kit&#39;s Camera. It wasn&#39;t long
        before I found myself working in the 1-hour photo booth due to my
        passion for developing and printing photos. There is a good chance I
        have printed some of your photos during your film days in Factoria,
        Issaquah, South Center, and Klahanie. <br />
        <br />
        Over the years, shooting a variety of events, weddings, commercial
        products, I came to the realization that my passion is photographing
        architecture and interiors.
        <br />
        <br />
        Please don't hesitate to reach out to me using
        <a href="mailto:seattlerealestatephoto@gmail.com" >email</a
        >,<a href="tel:4253904204"> call </a>or text.
      </p>
    </div>
  </div>
</div>

<div class="container links-container">
  <a
    href="mailto:seattlerealestatephoto@gmail.com">
    <img src="../../../../assets/email.svg" alt="Email">
    Email</a>
  <a href="tel:4253904204"><img src="../../../../assets/call.svg" alt="call">425 390 4204</a>
  <a href="http://www.instagram.com/seattlerealestatephoto" target="_blank">
    <img src="../../../../assets/ig.svg" alt="Instagram">
    Instagram</a
  >
  <a href="http://www.facebook.com/seattlerealestatemedia" target="_blank"
    ><img src="../../../../assets/fb.svg" alt="Facebool">Facebook</a
  >
  <a
    href="https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg"
    style="padding: 10px; color: #0f1626; line-height: 35px"
    target="_blank"
    >Youtube</a
  >
  <a
    href="https://www.yelp.com/biz/monkifoto-renton"
    target="_blank"
    >Yelp</a
  >
  <a class="nav-link internal"
    data-id="about"
    href="#about"

    >HOME</a
  >
  <a
    class="nav-link internal"
    data-id="portfolio"
    href="#portfolio"

    >PHOTOGRAPHY</a
  >
  <a
    class="nav-link internal"
    data-id="video"
    href="#video"

    >VIDEO</a
  >
  <a
    class="nav-link internal"
    data-id="aerial"
    href="#aerial"

    >AERIAL</a
  >
  <a
    class="nav-link internal"
    data-id="matterport"
    href="#matterport"

    >MATTERPORT 3D</a
  >
  <a
    class="nav-link internal"
    data-id="pricing"
    href="#booknow"

    >BOOK NOW</a
  >
  <a
    class="nav-link"
    href="https://seattlerealestatephoto.pixieset.com/"
    >CLIENT PORTAL</a
  >
  <a class="" href="#" routerLink="/admin" routerLinkActive="active">Admin</a>
</div>
<div class="container">
  <p style="text-align: center">
    Copyright &#169; 2018 - 2022 Seattle Real Estate Photo - All Rights
    Reserved. Design by Alex Bucse.
  </p>
</div>
