
.section-container{
  padding-top:6rem;
  padding-inline: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
   background: #FF533D;
   font-size: .8rem;
   height: 100%;
}

.imageUpload{

  padding-top: 10rem;
}
