


<div class="section-container">

  <div class="login">
    <app-login (authenticated)="onAuthenticated($event)"></app-login>
  </div>

  <div class="adminTabs">
    <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <span>Bookings</span>
        </ng-template>
        <div class="bookings">
          <app-booking-list></app-booking-list>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span>Image Uploader</span>
        </ng-template>
        <div class="imageUpload">
          <app-uploader></app-uploader>

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span>Create Gallery</span>
        </ng-template>
        <div class="createGallery">
          <app-gallery-form></app-gallery-form>

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span> Gallery List</span>
        </ng-template>
        <div class="GalleryList">
          <app-gallery-list></app-gallery-list>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>


