<section id="about">
  <app-hero></app-hero>
</section>

<div class="spacer"></div>

<section id="services">
  <app-sub-hero></app-sub-hero>
</section>

<div class="spacer"></div>

<section id="portfolio">
  <app-photos-combined></app-photos-combined>
</section>

<div class="spacer"></div>

<section id="video">
  <app-video-combined></app-video-combined>
</section>

<div class="spacer"></div>

<section>
  <app-staging-floorplan-combined></app-staging-floorplan-combined>
</section>

<div class="spacer"></div>

<section id="estimator">
  <app-estimator></app-estimator>
</section>

<div class="spacer"></div>

<section id="reviews">
  <app-reviews></app-reviews>
</section>

<div class="spacer"></div>

<section id="brands">
  <app-brands></app-brands>
</section>

<section id="about-me">
  <app-about-me></app-about-me>
</section>


