<section id="about">
  <app-hero></app-hero>
</section>
<div class="spacer"></div>
<section id="services">
  <app-sub-hero></app-sub-hero>
</section>
<div class="spacer"></div>
<!-- <section id="services">
  <app-services></app-services>
</section> -->
<section id="portfolio">
  <!-- <app-photo></app-photo> -->
  <app-photos-combined></app-photos-combined>
</section>
<div class="spacer"></div>
<section id="video">
  <!-- <app-photo></app-photo> -->
  <app-video-combined></app-video-combined>
</section>


<!-- <div class="spacer"></div>
<section id="matterport">
  <app-tour3d></app-tour3d>
</section> -->
<!-- <div class="spacer"></div>
<section id="aerial">
  <app-aerial></app-aerial>
</section> -->
<!-- <div class="spacer"></div>
<section id="video">
  <app-video></app-video>
</section> -->
<div class="spacer"></div>
<section>
  <app-staging-floorplan-combined></app-staging-floorplan-combined>
</section>

<!-- <section id="floorplan">
  <app-floorplan></app-floorplan>
</section>
<div class="spacer"></div>
<section id="staging">
  <app-staging></app-staging>
</section> -->
<div class="spacer"></div>
<section id="estimator">
  <app-estimator></app-estimator>
</section>
<div class="spacer"></div>
<section id="reviews">
  <app-reviews></app-reviews>
</section>
<div class="spacer"></div>
<section id="brands">
  <app-brands></app-brands>
</section>
<section id="about-me">
  <app-about-me></app-about-me>
</section>
<!-- <section id="contact">
  <app-contact-us></app-contact-us>
</section> -->

