<div class="section-container">
  <!-- <div class="container info-container"> -->
<div  class="intro">  <h1>Feedback</h1>
  <span class="fs-500 text-dark">What others have to say.</span></div>

<div class="testimonals">
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Really pleased with Seattle Real Estate Photo! Alex is professional and the final photos were incredible, especially when you consider he shot, edited and delivered them all within 15 hours!"</span>
  </div>
  <div class="testimonial__image_container">
      <div class="circle">
          <img src="../../../../assets/reviewers/Tim.png" alt="">
       </div>
  </div>
  <span>Tim P.</span>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Love working with Seattle Real Estate Photos! Alex is super responsive, tech savvy, on time, and I feel like his prices are super reasonable. He’s probably done about 10 houses for us and I’ve been very pleased with all of them. Highly recommend!"</span></div>
      <div class="testimonial__image_container">
        <div class="circle">
          <img src="../../../../assets/reviewers/Ashley.png" alt="">
       </div>
      </div>
  <span>Ashley M.</span>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Extremely happy with the service I got. Very professional , responsive and amazing quality. Will definitely continue to use him for all my photography needs."</span></div>
  <div class="testimonial__image_container">
  <div class="circle"><img src="../../../../assets/reviewers/Maslah.png" alt=""></div></div>
  <div>Maslah A.</div>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Alex does a great job showcasing my listings. He is always professional during the shoot and utilizes the latest technology. He is also able to schedule a shoot quickly and get photos to you on time. Give him a call!"</span></div>
      <div class="testimonial__image_container">
      <div class="circle"><img src="../../../../assets/reviewers/alexN.png" alt=""></div></div>
  <div>Alex N.</div>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Alex is amazingly good for what he did for me. He really helps me with what I need not just taking photos for my real estate listing."</span></div>
  <div class="testimonial__image_container">
      <div class="circle"><img src="../../../../assets/reviewers/hiep.png" alt=""></div></div>
  <span>Hiep V.</span>
</div>

<!-- </div> -->
</div>
</div>
