<div class="section-container">

<div  class="testimonial__heading">  <h1 class="fs-800 uppercase text-dark letter-spacing-1">FEEDBACK</h1>
  <span class="fs-500 text-dark">What others have to say.</span></div>

<div class="testimonals">
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Alex and his wife were amazing for my son's senior pictures!
      He was really nervous as he's never done a photo shoot before but they were very calming and we got a ton of really great pictures.
      I will definitely use them again and highly recommend them!"</span>
  </div>
  <div class="testimonial__image_container">
      <div class="circle">
          <img src="../../assets/reviewers/deanna.jpg" alt="">
       </div>
  </div>
  <span>Deanna A</span>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Alex was rapid with response times from the very beginning, and overall was easy to communicate with.
      When it was time for the shoot, my daughter was very shy, but Alex was incredibly patient and went out of his way to try to help/guide her through it.
      The end result was great photos that we were all happy with. I would definitely recommend!"</span></div>
      <div class="testimonial__image_container">
      <div class="circle"><img src="" alt=""></div>
      </div>
  <span>
      Tashaney M.</span>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Alex is always a pleasure to work with and he takes great pride in his work! Have used his services for both head shots and events."</span></div>
  <div class="testimonial__image_container">
  <div class="circle"><img src="../../assets/reviewers/christian.jpg" alt=""></div></div>
  <div>Christian S.</div>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Great pictures! Alex is fast to respond and process your pictures. He takes pictures in his studio which is setup in the garage.
       Once it's done he will send you pictures where you have to pick 7 and he will process it.
      So if you fast to pick your favorite pictures you will get your photos in few days electronically. Remember to download them. Great experience, will definitely come back!"</span></div>
      <div class="testimonial__image_container">
      <div class="circle"><img src="../../assets/reviewers/luba.jpg" alt=""></div></div>
  <div>Luba E.</div>
</div>
<div class="testimonial__container text-center">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Worked with Monkifoto on a professional photo shoot for our non profit organization. He was a professional and took some great photos.
       He was also very helpful in providing the copies of the photos again after I formatted my hard drive. I would definitely recommend this business."</span></div>
  <div class="testimonial__image_container">
      <div class="circle"><img src="../../assets/reviewers/IvanG.jpg" alt=""></div></div>
  <span>Ivan G.</span>
</div>
<div class="testimonial__container text-center ">
  <div class="testimonial__text">
  <span class="testimonial__title italic">"Alex is very personable, patient, and enjoyable to work with. I am a photographer myself and am very pleased with his portrait work.
      If you live in the Seattle/Renton area and need a quality photographer, I would definitely check him out."</span></div>
      <div class="testimonial__image_container">
      <div class="circle"><img src="../../assets/reviewers/Ryant.jpg" alt=""></div></div>
  <span> Ryan T.</span>
</div>
</div>

</div>
