
<div class="section-container">

    <div class="container info-container" >

      <section class="intro">
        <h1>Staging</h1>
        <p class="subtitle">  It is difficult to stand out in a sea of vacant home listings. Using virtual staging, you can turn boring rooms into dream properties, which will increase views, attention, and leads for your listing.
            <br/>
          According to the National Association of Realtors&#174;, nine out of ten buyers decide whether to walk through a home based on the photos of the listing. It can be difficult for potential buyers to gauge the size and feel of a home when it is vacant.
 A room can become a home with the right furniture and staging techniques. Building an emotional connection between a house and prospective buyers is key to selling houses quickly and for the most profit.
            <br/>
            Virtual staging - as its name implies - is 100% virtual, so there is no physical labor involved. This will save you the trouble of doing physical work or hiring a moving company.
 <br/>
 Virtual staging extends far beyond adding furniture and decor to empty photos. As well as removing and replacing furniture, virtual staging software can even renovate entire rooms.</p>
          <div class="btn-group">
          <a href="#" class="btn btn-accent">Inquire</a>
          <a href="#" class="btn btn-secondary">More info</a>
        </div>
        <app-table-card-list></app-table-card-list>
        </section>

    </div>

   <div class="container carousel-container">

        <div class="image_carousel_container">
          <app-dynamic-image-carousel [galleryType]="'staging'"></app-dynamic-image-carousel>
          <!-- <app-image-carousel></app-image-carousel> -->
        </div>

    </div>
  </div>



