<div class="upload-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Upload Photos</h1>
      <div class="select_file_container">
        <div class="upload_input">

          <label class="btn btn-primary">
            Choose File<input type="file" style="display: none;" (change)="selectFile($event)">
          </label>
        </div>
        <div class="upload_command">
          <button class="btn btn-accent" [disabled]="!selectedFiles"(click)="upload()">Upload</button>
        </div>
      </div>
    </section>
    <section>
      <div class="progress">

      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}" aria-valuemin="0"aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }" >{{ percentage }}%
        </div>
        <app-upload-progress [progress]="percentage"></app-upload-progress>
      </div>
      </div>
    </section>
  </div>
  <div class="container ">
    <div class="file_list_container">
    </div>
    <app-upload-list></app-upload-list>
  </div>
</div>


<!-- <label for="test">
  <div>Click or drop something here</div>
  <input type="file" id="test">
</label>
<p id="filename"></p> -->
