<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Upload Photos</h1>
      <div class="upload_container">
        <div class="upload_input">

          <label class="btn btn-primary">
            Choose File<input type="file" style="display: none;" (change)="selectFile($event)">
          </label>
        </div>
        <div class="upload_command">
          <button class="btn btn-accent" [disabled]="!selectedFiles"(click)="upload()">Upload</button>
        </div>
      </div>
    </section>
  </div>
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }"
        >
          {{ percentage }}%
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <label for="test">
  <div>Click or drop something here</div>
  <input type="file" id="test">
</label>
<p id="filename"></p> -->
