<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Photography for Rental Properties</h1>
      <h2 class="pageHeader"></h2>
      <p class="subtitle">
        Attracting More Tenants: High-quality photos can help your rental property stand out from the competition and attract more potential tenants. A professional photographer can capture your property in the best possible light, highlighting its unique features and making it more appealing to potential renters.
          <br><br>
        Saving Time: Professional photographers are experienced and skilled in capturing the best possible images of your rental property. By hiring a professional, you can save yourself the time and effort of trying to take photos on your own, allowing you to focus on other important aspects of managing your rental property.
        <br><br>
        Higher Rental Rates: High-quality photos can help you justify higher rental rates for your property. By showcasing your rental property in the best possible light, you can convince potential tenants that it is worth paying more for.
        <br><br>
        Improved Tenant Experience: Professional photos can help set realistic expectations for your tenants and ensure that they have a positive experience during their stay. By providing accurate, visually appealing photos, you can avoid any negative surprises or disappointments that could lead to tenant complaints or dissatisfaction.
        <br><br>
        Better Online Presence: High-quality photos can help improve your online presence and make it easier for potential tenants to find your rental property. By presenting your property in the best possible light, you can make it more attractive to potential tenants and increase your chances of finding the right long-term renters.
      </p>
      <div class="btn-group">
        <a href="#booknow" (click)="scrollTo('estimator')" class="btn btn-accent">Book Online</a>
        <app-modal [title]="'Aerial Photography & Video'" [description]="'Lets get your AirBnB Booked'" [pageName]="''"></app-modal>
      </div>
    </section>
  </div>
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <app-dynamic-image-carousel
        [galleryType]="'aerial'"
      ></app-dynamic-image-carousel>
    </div>
  </div>
</div>
