<div class="section-container">
  <div class="container carousel-container">

    <video class="responsive" width="1024" height="610" controls  muted>
      <source src="../../../../assets/video/SCOUT_Group.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="container info-container">
    <section class="intro">
      <h1>Video Tours</h1>
      <h2>& Reels</h2>
      <p class="subtitle">
        Due to everything happening around us, buyers now rely on online tools
        to help them narrow down potential home choices and the online presence
        of each listing is everything. We offer professional videos that showcase both
         homes as well as the local community. We also offer
        videos about the listing you offer to potential clients so that way
        people get to know you and the property before they ever meet you.
      </p>

      <span><br/><br/>
        Using reels for presenting real estate listings for sale offers several benefits:
<br/><br/>
Engagement: Reels are short, engaging videos that capture attention quickly. They are designed to be visually appealing and can help keep viewers interested in your listing.
<br/><br/>
Showcase Property Features: Reels allow you to showcase the key features of a property in a dynamic and compelling way. You can highlight the interior and exterior of the property, as well as any unique or standout features.
<br/><br/>
Storytelling: Reels provide an opportunity to tell a story about the property, creating an emotional connection with potential buyers. This can help them envision themselves living in the home.
<br/><br/>
Social Media Reach: Reels are a popular feature on social media platforms like Instagram, where they can be easily shared and discovered by a wide audience. This can help increase the visibility of your listing and attract more potential buyers.
<br/><br/>
Differentiation: Using reels sets your listing apart from others and demonstrates that you are using innovative and effective marketing techniques to sell the property.
<br/><br/>
Overall, using reels can help you create a more engaging and memorable listing that attracts the attention of potential buyers and helps you sell the property more quickly.
      </span>
      <div class="btn-group">
        <a href="#booknow" class="btn btn-accent">Book Online</a>
        <app-modal [title]="'Video Packages'" [description]="'We offer three different video options as part of our real estate photography services, providing you with flexibility to choose the perfect solution for your marketing needs.'" [pageName]="'Video'"></app-modal>
      </div>
    </section>
  </div>
</div>
