<div class="section-container">
  <div class="container carousel-container">

    <video class="responsive" width="1024" height="610" controls  muted>
      <source src="../../../../assets/video/SCOUT_Group.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="container info-container">
    <section class="intro">
      <h1>Video Tours</h1>
      <h2>& Reels</h2>
      <p class="subtitle">
        Due to everything happening around us, buyers now rely on online tools
        to help them narrow down potential home choices and the online presence
        of each listing is everything. We offer professional videos and 3D Tours
        that showcase both homes as well as the local community. We also offer
        videos about the services you offer to potential clients so that way
        people get to know you before they ever meet you.
      </p>

      <div class="btn-group">
        <a href="#booknow" (click)="scrollTo('estimator')" class="btn btn-accent">Book Online</a>
        <app-modal [title]="'Video Packages'" [description]="'We offer three different video options as part of our real estate photography services, providing you with flexibility to choose the perfect solution for your marketing needs.'" [pageName]="'video'"></app-modal>
      </div>
    </section>
  </div>
</div>
