
<div class="page__container">
  <div class="gallery__container">
    <div class="image_container">
      <img src="../../../assets/Headshots/h1.jpg" alt="" />
    </div>
    <div class="image_container">
      <div class="gallery__text">
        <div style="display: inline; ">
          <h2 class="letter-spacing-1">Clarity</h2>
          <hr />
          Capture your unique personality and convey a clear sense of
          professionalism and confidence.
        </div>
      </div>
    </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h2.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">Lighting</h2>
            <hr />
            Good lighting is crucial for a great headshot. We use even and
            natural-looking light, to highlight your best features.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h3.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline;">
            <h2 class="letter-spacing-1">Expression</h2>
            <hr />
            Feeling comfortable will give you a natural and confident look,
            with a friendly and approachable demeanor.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h4.jpg" alt="" />
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h5.jpg" alt="" />
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h6.jpg" alt="" />
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h7.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline;">
            <h2 class="letter-spacing-1">Composition</h2>
            <hr />
            Your headshot will be well-composed, in the frame to bring your
            head and shoulders in ceter of focus.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h8.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">Background</h2>
            <hr />
            Simple background of complimenting color to set the focus on you.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h9.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">Wardrobe</h2>
            <hr />
            Bring a variety of clothing that complements your features and
            reflects your style.
          </div>
        </div>
      </div>
    </div>
    <div class="info__container">
      <div class="gender">
        <h1>Women</h1>
        <div class="makeup">  <h2 class="letter-spacing-1">Makeup</h2>
          <hr />
          <p > Makeup for the session is highly recommended for all women. The cost is $175 for makeup for the session and includes hair help.
            The makeup is applied specifically for the lighting we use and we usually start very naturally to give you a very clean simple look.
            We do touch-ups and will add subtle changes to the makeup as the shoot progresses. If you’d like to start off a little heavier on the makeup we are happy to do that as well, just let us know.</p>
        </div>
        <div class="hair">  <h2 class="letter-spacing-1">Hair</h2>
          <hr />
          <p > We ask that everyone come in with their hair ready the way you would like to present yourself.  We want your hair in your pictures to be as close as possible to the way you look on a fantastic hair day. Of course, our makeup artist is there to make sure it’s shoot ready and we will discuss what you’d like to do with it and make a game plan for the shoot.
            If you need a major overhaul hair wise or you are naturally curly and want to go straight there may be an extra $50 charge for our makeup artist to blow it out for you. Make sure you discuss this with us prior to your session, so we are all on the same page.</p>
        </div>
      </div>
      <div class="gender"><img src="../../../assets/Headshots/p1.jpg" alt=""/></div>
      </div>
      <div class="info__container">
      <div class="gender"><img src="../../../assets/Headshots/p2.jpg" alt=""/></div>
      <div class="gender">
        <h1>Men</h1>
        <div class="makeup">  <h2 class="letter-spacing-1">Makeup</h2>
          <hr />
          <p >We don't recommend makeup on men, but our makeup artist can provide light grooming on the shoot for $50 if you like. All our work is retouched afterward so any blemishes will be taken care of during that process.</p>
        </div>
        <div class="hair">  <h2 class="letter-spacing-1">Hair</h2>
          <hr />
          <p >If you’d like to shoot with facial hair we’d be happy for you to come in with whatever level of growth you’d like and can shave or trim it down once we’ve got it covered. Bring whatever grooming products you’ll need with you to get it done.</p>
        </div>
      </div>
    </div>
  </div>

