<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Photography for AirBnB</h1>

      <p class="subtitle">Poor quality photos can make the property look unappealing or even misleading, leading to reduced or no bookings.
        Additionally, without professional equipment and skills, you may struggle to capture the property's best features and unique amenities, making it difficult to stand out in a crowded market.
        The process of taking photos can be time-consuming, as takes a significant amount of time taking and editing the photos, taking you away from other aspects of managing their rental property.
        Underexposed, crooked or poor quality photos will limit a property's potential and make it more challenging to attract renters. </p>

      <ul>

        <li>We capture high-quality images that highlight your property's unique features using professional experience combined with professional cameras and lighting equipment to capture the best angles, and composition.</li>

        <li> Our high-quality photos attract more bookings activity, increase your revenue as an Airbnb host all by making your property look professional and appealing to potential renters, setting it apart from the competition.</li>

        <li>Consistent, high-quality photos improve your brand image, showcasing your commitment to providing high-quality services and professionalism to potential clients.</li>

        <li>Save time and effort by letting us handle the photography while you focus on managing your properties.</li>

        <li>High-quality photos enhance your marketing materials and overall strategy by providing a library of appealing images for use in flyers, brochures, and online listings.</li>

      </ul>
      <h2 class="pageHeader">We also offer 3D Tours, Floorplans, Drone photos and even Reels to help showcase your AirBnB.</h2>
      <div class="btn-group">
        <a href='tel:4253904204' class="btn btn-secondary">Schedule Today</a>
      </div>
    </section>
  </div>
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <img class ="responsive-img" src="https://firebasestorage.googleapis.com/v0/b/seattlerealestatemedia.appspot.com/o/AirBnB%2F7R308824.jpg?alt=media&token=a36243a3-cdfa-44cc-a498-9fdf354b8141"/>
    </div>
  </div>
</div>
