

<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Download Instructions</h1>

      <div class="instructions">
          <h2>Steps to Download Photos </h2>

          <div class="step">
              <h3>1. Access the Gallery</h3>
              <p>Navigate to the gallery page containing the photos you want to download.</p>

          </div>

          <div class="step">
              <h3>2. View Gallery</h3>
              <p>Click on the <span class="highlight">VIEW GALLERY</span> button to open the gallery.</p>
          </div>

          <div class="step">
              <h3>3. Download Photos</h3>
              <p>Click on the <span class="highlight">DOWNLOAD</span> icon located at the top right of the page.</p>
              <img src="../../../assets/images/Instructions_1.jpg" alt="download instructions"/>
          </div>

          <div class="step">
              <h3>4. Enter Email and PIN</h3>
              <p>Enter your email address in the <span class="highlight">EMAIL</span> field.</p>
              <p>Enter the download PIN provided by Seattle Real Estate Photo in the <span class="highlight">PIN</span> field.</p>

              <img src="../../../assets/images/Instructions_2.jpg" alt="download instructions"/>
          </div>

          <div class="step">
              <h3>5. Choose Photos</h3>
              <p>Select the photo categories you want to download, such as <span class="highlight">Highlights</span> or <span class="highlight">MLS</span>.</p>
          </div>

          <div class="step">
              <h3>6. Choose Download Size</h3>
              <p>Select the desired download size: <span class="highlight">High Resolution</span> or <span class="highlight">Web Size</span>.</p>
              <img src="../../../assets/images/Instructions_3.jpg" alt="download instructions"/>
          </div>

          <div class="step">
              <h3>7. Download To</h3>
              <p>Select where you want to download the photos to: <span class="highlight">My Computer</span>, <span class="highlight">Dropbox</span>, or <span class="highlight">Google Photos</span>.</p>
          </div>
      </div>
      <div class="btn-group">
        <a href="#booknow" class="btn btn-accent">Book Online</a>
       <!-- <app-modal [title]="'Aerial Photography & Video'" [description]="'By providing a visual representation of the property and its surroundings, aerial photography and video can help potential buyers get a better idea of what the property has to offer. This is especially useful for showcasing a property&#8217;s location, proximity to amenities, and natural surroundings.By capturing footage of the surrounding neighborhood and landmarks from above, agents can help potential buyers get a better understanding of the property&#8217;s location and its unique surroundings.'" [pageName]="''"></app-modal> -->
      </div>
    </section>
  </div>

</div>

