
<div class="hero">
<div class="container-fluid container-padding">
  <h1 class="hero_heading" style="text-align: center">
    MAKE YOUR LISTING STAND OUT
  </h1>
  <br /><br /><br />
  <div class="text-block">
    <div class="text-center">
      <h2>
        Your future listing has been a comfort to your seller and now let
        someone else see what a gem it really is. Now, more than ever,
        presentation is key in the Seattle real estate market. Home buyers have
        a variety of options when it comes to finding their new home on the
        internet. With everyone&#39;s busy schedules, they rely on these online
        photos, videos, floor plans, and virtual 3D tours, and we offer these
        tools to make your listing stand out.
      </h2>
    </div>
    <div class="container text-center">
      <br />
      <h3>
        Investing in professional photography for your listing always pays off
        at closing.
      </h3>
      <br />
      <br />

      <button
        class="nav-link buttons internal"
        data-id="booknow"
        href="#booknow"
        style="
          color: #0f1626;
          background-color: #ff533d;
          border-color: #ff533d;
          padding: 10px 10px;
          margin-left: 10px;
          display: inline !important;
        "
      >
        <span
          class="buttons"
          style="
            position: relative;
            display: inline-block;
            outline: 0;
            padding: 12px 26px;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 2px;
            font-style: normal;
            font-weight: 700;
          "
        >
          BOOK NOW</span
        >
      </button>

      <button
        class="nav-link buttons"
        onclick='location.href="tel:4253904204"'
        style="
          color: #0f1626;
          background-color: #ff533d;
          border-color: #ff533d;
          padding: 10px 10px;
          margin-left: 10px;
          display: inline !important;
        "
        target="_blank"
      >
        <span
          class="buttons"
          style="
            position: relative;
            display: inline-block;
            outline: 0;
            padding: 12px 26px;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 2px;
            font-style: normal;
            font-weight: 700;
          "
        >
          CALL NOW</span
        >
      </button>
      <br /><br />
      <button
        class="nav-link buttons"
        href="https://g.page/r/Cd985ZIFCBSGEB0/review"
        style="
          color: #0f1626;
          background-color: #ff533d;
          border-color: #ff533d;
          padding: 10px 10px;
          margin-left: 10px;
          display: inline !important;
        "
        target="_blank"
      >
        <span
          class="buttons"
          style="
            position: relative;
            display: inline-block;
            outline: 0;
            padding: 12px 26px;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 2px;
            font-style: normal;
            font-weight: 700;
          "
        >
          WRITE A REVIEW</span
        >
      </button>
    </div>
  </div>
</div>

</div>