
h1 {
  font-size: calc(3rem + 3vw);
  font-family: var( --ff-Montserrat);
  margin: 0 0 0.25em;
  line-height: 1;
  max-width: 100%;
  color: hsl(var(--clr-light));
}

.btn-group {
  margin: 2em 0;
  display: relative;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
}

.btn-accent {
  background: hsl(var(--clr-light));
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

.intro {
  height: 30vh;

  //padding: 10rem;
  display: grid;
  color: hsl(var(--clr-dark));

  align-content: center;
  align-items: center;
}

.intro > * {
  grid-column: 2 / 3;
 }

.hero-section {
  position: relative;
  height: 100vh;
  background-image: url('https://1.bp.blogspot.com/-lQgJpZP9Gyo/XzsLuteFRNI/AAAAAAADnrM/xBBepCELa0s98bmvNdzU4OCCWG6jjrWlQCPcBGAsYHg/s2048/_MKY2867-HDR.jpg');
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.01;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  z-index: 1;
}

.hero-content h1 {
  //font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
      // font-style: italic;
      color: var(--background);
}

.btn-primary {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--foreground);
  color: var(--background);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

@media (max-width: 35rem) {
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    // font-style: italic;
    color: var(--background);
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    z-index: 1;
  }

  .hero-content {
    position: relative;
    padding: 2rem;
    text-align: center;
    color: #000;
    z-index: 1;
  }

}

@media screen and (min-width: 48rem) {

  h1 {
    font-size: calc(2rem + 1.5vw);

    margin: 5rem 0 0.25em;
    line-height: 1;
    max-width: 100%;

  }

}
