
h1 {
  font-size: calc(3rem + 3vw);
  font-family: var( --ff-Montserrat);
  margin: 0 0 0.25em;
  line-height: 1;
  max-width: 100%;
  color: hsl(var(--clr-light));
}

h2 {
  font-size: calc(1.5rem + 1vw);
  font-family: var( --ff-Montserrat);
  margin: 0 0 0.25em;
  line-height: 1;
  max-width: 100%;
  color: hsl(var(--clr-light));
}

.hero_btn_grp {
  margin: 2em 0;
  display: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero_btn_grp a {
  width: 48%; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust spacing */
}




.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
}

.btn-accent {
  background: hsl(var(--clr-light));
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

.intro {
  height: 30vh;

  //padding: 10rem;
  display: grid;
  color: hsl(var(--clr-dark));

  align-content: center;
  align-items: center;
}

.intro > * {
  grid-column: 2 / 3;
 }

.hero-section {
  position: relative;
  height: 100vh;
  // background-image: url('https://1.bp.blogspot.com/-lQgJpZP9Gyo/XzsLuteFRNI/AAAAAAADnrM/xBBepCELa0s98bmvNdzU4OCCWG6jjrWlQCPcBGAsYHg/s2048/_MKY2867-HDR.jpg');

  background-image: url('https://firebasestorage.googleapis.com/v0/b/seattlerealestatemedia.appspot.com/o/Interior%2FA7406969-Edit.jpg?alt=media&token=6ce5e90d-5102-4c17-8534-a590eb7c318f');
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.10;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  z-index: 1;
  background-color: hsl( var(--clr-dark)/ 0.50);
  padding: 2rem;
}

.hero-content h1 {
  //font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
      // font-style: italic;
      color: var(--background);
}

.btn-primary {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--foreground);
  color: var(--background);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}


@media (max-width: 35rem) {  // phones and small tablets

  .intro {
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    // font-style: italic;
    color: var(--background);
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    z-index: 1;
    // padding: 2rem;
  }

  .hero-section {
    height: 74vh;

  }

  .btn-group {
    display: grid;
  }

  .btn{
    width: 50vw;
  }

  .btn + .btn {
    margin-left: 0;
  }

  .hero_btn_grp a {
    width: 100%;
  }
}

@media screen and (min-width: 48rem) { //laptops ipads

  .intro {
    height: 50vh;
    width: 55vw;
  }


  h1 {
    font-size: calc(2rem + 1.5vw);
    margin: 5rem 0 0.25em;
    line-height: 1;
    max-width: 100%;

  }


  .hero-section {
    height: 70vh;

  }

  .btn-group {
    display: grid;
  }

  .btn{
    width: 50vw;
  }

  .btn + .btn {
    margin-left: 0;
  }
  // .hero_btn_grp a {
  //   width: 100%;
  // }

}
