.page1 {
    /*ABOUT*/
    min-height: 800px;
    width: 100%;
    background: #0f1626;
    vertical-align: middle;
    background-image: url(https://1.bp.blogspot.com/-lQgJpZP9Gyo/XzsLuteFRNI/AAAAAAADnrM/xBBepCELa0s98bmvNdzU4OCCWG6jjrWlQCPcBGAsYHg/s2048/_MKY2867-HDR.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /*  animation: slide 10s infinite;*/
  }


  .page1::before {
         background-color: rgba(0, 0, 0, 0.1);

  }

.hero_heading{
    font-size: var(--fs-900);
}