<div class="hero">
<section class="hero-section ">
  <div class="hero-overlay"></div>
  <div class="hero-content ">
    <section class="intro">
    <h1>Bring your property to life with our lens</h1>
    <p class="hero-subtitle"> In today's Seattle real estate market, presentation is key. Home buyers rely heavily on online photos, videos, floor plans, and virtual 3D tours to find their next home.
      We offer all of these essential tools to make your listing stand out and attract potential buyers.</p>
      <div class="btn-group">
        <a href="#booknow" (click)="scrollTo('estimator')" class="btn btn-accent">Book Online</a>
        <a href='tel:4253904204' class="btn btn-accent">Call Now</a>

      </div>
    </section>
  </div>
</section>
</div>
