<div class="hero">
<section class="hero-section ">
  <div class="hero-overlay"></div>
  <div class="hero-content ">
    <section class="intro">
    <h1>
      All-Inclusive Professional Real Estate Media Services.
    </h1>
    <h2>An investment that ensures higher returns at closing.</h2>
    <p class="hero-subtitle"> Home buyers rely heavily on online photos, videos, floor plans, and virtual 3D tours to find their next home.
      We offer all of these essential tools to make your listing stand out and attract potential buyers.</p>
      <div class="btn-group">
        <a href="#booknow" (click)="scrollTo('estimator')" class="btn btn-accent">Schedule Today</a>
        <a href='tel:4253904204' class="btn btn-accent">Call Now</a>

      </div>
    </section>
  </div>
</section>
</div>
