
    <div class='container-fluid container-padding'>


      <div class='row'>

        <div class='col-md-6 col-xs-12' style='display: table-cell;vertical-align: middle; text-align: left !important;   color:#f5f5f5;'>

          <h2 class='pageHeader'>PHOTOGRAPHY</h2>
          <!-- Large modal -->


          <p>
            We help homeowners and realtors place their listings with professional images. We photograph your
            listings with the latest in camera technology with multiple lighting options and image blending
            technology to create HDR(High Dynamic Range)photos. We offer interior, exterior, aerial photography and
            video to make your listings stand out!
            <br/>
            <br/>
            <h4><b>ESSENTIAL PACKAGE(HDR)</b></h4>
            <br/>
            <span>
              HDR photography is a common style used by many real estate photographers. HDR stands for High Dynamic Range and the basic principle is to capture multiple exposures and to use in hand-blending images using the available light from windows and light fixtures create an image that has visible elements in the dark and bright areas.
            </span>
            <br/><br/>
            <h4><b>SHOWCASE PACKAGE(HDR Flash)</b></h4>
            <br/>
            <span>The &#8220;HDR Flash&#8221; method for shooting real estate photography involves hand-blending both exposures using professional lighting with natural light exposures to preserve the true colors while evening the light trought the scene. </span>
<br/>
            <br/>
               <small>To see the difference click the INFO button below </small>				<br/>
            
 
          <div class='pageButtons' style='text-align:center'>
            <button class='buttons' data-target='.bd-example-modal-lg' data-toggle='modal' style='color: #F5F5F5; background-color: #0f1626; border-color: #0f1626; padding: 10px 10px; margin-left: 10px; display:inline !important; ' type='buttons'>
              <span class='buttons' style='position:relative; display:inline-block; outline:0; padding: 12px 26px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
INFO</span>
            </button>
            <button class='buttons' data-target='.bd-FAQ-modal-lg' data-toggle='modal' style='color: #F5F5F5; background-color: #0f1626; border-color: #0f1626; padding: 10px 10px; margin-left: 10px; display:inline !important;' type='buttons'>
              <span class='buttons' style='position:relative; display:inline-block; outline:0; padding: 12px 26px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
                FAQ </span>
            </button>
            <button class='buttons internal' data-id='booknow' href='#booknow' style='color: #F5F5F5; background-color: #0f1626; border-color: #0f1626; padding: 10px 10px; margin-left: 10px; display:inline !important;' target='_blank'>
              <span class='buttons' style='position:relative; display:inline-block; outline:0; padding: 12px 26px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
                SCHEDULE TODAY</span>
            </button>

            <button class='nav-link buttons btnPage2Gallery' data-id='videoGallery' id='btnPage2Gallery' style='color: #F5F5F5; background-color: #0f1626; border-color: #0f1626; padding: 10px 10px; margin-left: 10px; display:inline !important;' target='_blank'>
              <span class='buttons btnPage2Gallery' style='position:relative; display:inline-block; outline:0; padding: 12px 26px; font-size:10px; line-height:20px; letter-spacing:2px; font-style:normal; font-weight:700'>
                CALL NOW</span>
            </button>
          </div>
   
        </div>

        <div class='col-md-6 col-xs-12' style='display: table-cell;vertical-align: middle; text-align: left !important; color:#0f1626;'>

          
          
          
<!-- <div class='carousel slide' data-ride='carousel' id='mainCarousel'>
<ol class='carousel-indicators'>
<li class='active' data-slide-to='0' data-target='#mainCarousel'></li>
<li data-slide-to='1' data-target='#mainCarousel'></li>
<li data-slide-to='2' data-target='#mainCarousel'></li>
<li data-slide-to='3' data-target='#mainCarousel'></li>
<li data-slide-to='4' data-target='#mainCarousel'></li>
<li data-slide-to='5' data-target='#mainCarousel'></li>
<li data-slide-to='6' data-target='#mainCarousel'></li>
<li data-slide-to='7' data-target='#mainCarousel'></li>
<li data-slide-to='8' data-target='#mainCarousel'></li>
<li data-slide-to='9' data-target='#mainCarousel'></li>
<li data-slide-to='10' data-target='#mainCarousel'></li>
<li data-slide-to='11' data-target='#mainCarousel'></li>
<li data-slide-to='12' data-target='#mainCarousel'></li>
<li data-slide-to='13' data-target='#mainCarousel'></li>
<li data-slide-to='14' data-target='#mainCarousel'></li>
<li data-slide-to='15' data-target='#mainCarousel'></li>
<li data-slide-to='16' data-target='#mainCarousel'></li>
<li data-slide-to='17' data-target='#mainCarousel'></li>
<li data-slide-to='18' data-target='#mainCarousel'></li>
<li data-slide-to='19' data-target='#mainCarousel'></li>
<li data-slide-to='20' data-target='#mainCarousel'></li>
<li data-slide-to='21' data-target='#mainCarousel'></li>
<li data-slide-to='22' data-target='#mainCarousel'></li>
<li data-slide-to='23' data-target='#mainCarousel'></li>
<li data-slide-to='24' data-target='#mainCarousel'></li>
</ol>
<div class='carousel-inner'>
<div class='carousel-item active'>
  <img alt='Real Estate Photography Home Example' class='d-block responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEhYKL2hFWDeNkdPwHVPjkmud64_aCzBmh6D4uTX4tZypj1FPlWjLuIXGtgd5EYieBO9TdOcP9X7SgFeLeUd_VCUD10I0ATZAnJ1_tEVApGJrrp2TAOJtqR3ffOa-3kXkes08zeUn1KNW5hh5arx9j_xtqjlAd6IDtAc4ghm3wfZ6lYx0VGOnCypkuzwvg=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='d-block responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgcl3ZgOY-FWr1WssmdbyV-t8XJ6Egzh5uwj4v48SBt_L2vRDsF9PAKPqCfIdoUG2bb9KMTjlX1KLZI7DrgguFHbenocorqgVpnYIjJ96cEU2WR6FEt-MWKB0rA9FhMPM-A6h_poICjLBIHECfpxN_hDJ2IpNy7EjH-4whcwow5kyXZ3yg_wqqImsoFVg/s800/_MKY0354.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='d-block responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEhjmN2PGxeP20DOSVdc4Jde96pVTqlBcwu2rnjmwMhXXfXdfWeYOWsEAUVGFZv1jPIKcsDRThF13eSYPjd3UaRqSTGqqOLAkYlRUNR1Nn9f6_-NVCBZ-v9a86kWwVivfEStJuuQ68iG0GezlCdd9yi8IaaisuaaqsSMmY3L988jDq5LGXwcFUXBkn36Lg=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEg9nT114i7bIq6VQOhSsTeDW_JGFTL7dB8UgZhzZnpeuh08mbhwgvI0OqMy-RkG2Z35x_cAQjrBSn-80tqHbSqRsYvvxfFq-Ws8iVFkaTeYXVJZ4lQLT1GQJczSIoX9kREAFviClGS4lX3Dv0X25-8kuMS3db2Uj6E17qJCer9ARbwa7Zwyobb3pGc1wA=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEgphU1RYRBFAqhTHjcLhH0-0CvA4YgvTzdVJGV9FN6x4naP_3o6f25mfDN25g8dVl4hKSNDH7Ai8Ssgzrhcp7oYb4MaXmwC1gS8OcvTIp3wzUCusFvD9jq2P7a0NTfmgXyqrqXpCl443Yz2rmfp2a2oNNJWXqva7BjrPy0w6RyCEb4GI9bYnCGt3ReTWw=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEj5sv4nXFB-gULJPWIpGhE6EX80Maf02OkbIv2526MoNdrM7PQ2tpSaOxtb4B2SRSu9eJXJEcdl2Sg3YrjwwLt78kPSXpBhMEiLQwCW26SHW_7HDUolQ4O18PiX0IVpMG0x581eIJkoUth7H27r7t29nHalr9TW79chPTLKXPR4S9EQhJUFXFFugXzqYw=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEib0cxyavK24D6djeQYnxrOT4az6CfxzNN2Y4eORNgmtLzSBVrJ6i4TVZswMGgCQSBnV1-FWp2XPq3dpWp7MqMy8TznC1OWsL7-5UpxibKt6bhNJLgSdwccW7080VNA-HqZzAntoQNxuxldd8Bdk5ZdJbArKP6bNMFBK6BmNvtFmfCgb2t6NsUDjhgNGA=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEiljGCNTzCXoWXF3lzTz4JDiBraRAUAFw49DYVnXXcNN5a1qjN1iBdBenyxPZHOqlb6rKlT2m5Ac7tp5JnvMBhmZeczn2ImCbo8Hr8jefnJwt5ZGFKUbO5wtdEXq-zD8y_4pP1qdC6rBuC7aWIla1jRfKJjwmSwctj6ugS8uQVSAYVzQ46RJu3Pc1eC-Q=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOWRJ-AvuQvoRoWtvjWRWdj0PSU89eeKYLDyJIPNaDHuW84yzUCErmpVt5ZIQwHNWh3OKsTKPzRM-XAbbMDBgF9YPundxGhM4w2TdsTY060TYdnpmkuyJhXkrY7RPG5U6IR0NFNMkoJt_fLqShndkGNwFuhVK53CNMO0wKAMsZ-bnpNQKgjSu61NjcKg/s800/DJI_0240-Edit.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgPniAKFOHplxuu2O_uFZ8HDyfMwtx-qyqj5Bjq2X2GLmhbVrelpA0sGoWYOS5ArrXRJ4dr5h98u8MDFc98Hw-LkEhJI1GKL1Ft2DsNkrzZjK-T7kaErZ5Dmwc3nW7b8vzJKrrtsXzPJypXUa6egP8EvooxkJrUquuMWKvfjfnghkMzI1k5BdPLgeDwBA/s800/_MKY0544.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj95bIu6DP9quWzh3RMFut8xG3ZrjZAL-yWkhpS3X7ea8DRVj69oIMLdG2Ug49CJbmO5RfxU__QegNX8uQOWVjEbGoKGzYQOhRekYqawehupdKK_GMNiFPD_tDF--7ergIhtkRZIkilrNia-T-xtI79ZZ8d18PTII6BlzhEfGaCOeYKjP4EYuG5rN9HyQ/s800/_MKY0652.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjo89eP5i9Keg_sf1gICj-PVcRm94R2k1A6nod3Scj5u2PGUPjGaupWLSwgzs1irkkxToUnF419gJtkwu9f3SaGNK-S5mNFioECyZeTtpwncSqvOP2_ujbdX874DDHUtQeJhpinTPPlQkYqFn6cW7nYHcpRY2FhBf6_N_K6yj2EBEmiPxZ6owpZUy8c1Q/s800/_MKY0746.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEhBTFHokZAGKfno9QdN0xWVPHJNGaajoVbjFFm9KEwCbOW9kRdWN2mRXxDm3_pzkLmlxlEt_kmyghURdVxH2nMgevHbItvhw8yadGzE3zrA7QoMq4mR_jQ1pnvOSeMkgFm7-K_aLypXemx_0bikKuy-XwANfI6mqvbLv7BQ2B_lYmuQ5PVPkZytkoL-yw=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-_IVdB80HZcs/YICRBNEn0FI/AAAAAAADy74/itBVdUR7sy8OO981GBe7eVse-lQU_LTMACLcBGAsYHQ/s800/_MKY1172-HDR-Edit.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-xAjLlrt-XB0/X0BOQTBYkGI/AAAAAAADn1s/f_qt4KwoyCYbnyQIJQoE2SlEtNnjHZ_4gCLcBGAsYHQ/s800/MKI09808-HDR.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-9btUNYnS17U/X0BOT8sBCII/AAAAAAADn2c/yh13b3lSIzUZ0SkStg736UcyPu7ju-RFwCLcBGAsYHQ/s800/MKY04136-HDR-HDR.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-sFlkH_5E-SQ/X0BOUWNKjII/AAAAAAADn2g/Bo_l3YOz5RM6EWrAWzExmkJTHPJNnCT5ACLcBGAsYHQ/s800/MKY04151-HDR-HDR.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-pyYljHKEgmo/X0BOQ93EwLI/AAAAAAADn1w/rHfA4RaRiqQ65E7Gr1xSDBPJEiyQhJiTQCLcBGAsYHQ/s800/MKY00477-HDR.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-dbuT4KbKiQQ/X1q8-6GME5I/AAAAAAADovU/7B8nIEETGCw3PI8yEv9sRSvHLv3QVsMnACLcBGAsYHQ/s800/_MKY0912-HDR-HDR-Edit-2-Edit.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-hO0chFJJoek/X1q9Mf9yztI/AAAAAAADovY/WLAIWiX_2xkx-34Sl5V3T3Gm1NC3zorngCLcBGAsYHQ/s800/_MKY1281-HDR-Edit-2.jpg'/>
</div>
 <div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/a/AVvXsEjycZyq4S2_x9EufwjZyNTZUSx2wcLcwfdY7Ds7a53BxNnM-sQoCk7QHzOBcGPj3C7fmtuN6wkzfz9JJeccfqeX88LLf4dDMO5Kpux7WGz4ghNZlxJ2LSvEIKno-2QuxVlRG2jivDWn2fk6RfUu6cQPrEcvqt3fAh7gZch0lBF-J0URNywZ_kTOQtCwzw=s800'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh4OnL_oZlBwniVz2LacnD-oFj8fzasJJW4vp4SW9JpxZ2F3C-vL4LP7A6C9vGu46qazTMEajpdqHVyWH-meijCwui2iKy_CsVTQwRXiMUk8mYKPYoqnHPFd16CiPvuJNtH47evTaP8MzUygXO48gMHI4A2TYsqezs2XFwKrv-Zeiu5CEmeCjgpdfCbHA/s800/_MKY0520.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhXVivEKL9PCo0Vro7mAKVrYMNRHUhPh72oB5avnM-7C7wWD3uoSYtk9S0rdWBm8jqpcJ-3oLlKR5HubnP9e96garMBI0qbcX7EYqfdO0RI9nJxfeGUL9-Z3aTVTR-NRhBIWik2XJq2-M8qNPzwC6vji12wTA8CG7neC2wcw-vcQYYwmy40eQXSdDeR4g/s800/_MKY0422.jpg'/>
</div>
<div class='carousel-item'>
    <img alt='Real Estate Photography Home Example' class='responsive' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj_DjS5tOLqfZcPjYXk1_6jDjWyiryePfW6xy4-pH7AVAbHmddS8MfUb8b3MZywhVGVJJU9CJUYqucRk5AdRgIHL6fPCVncgyqG7tpDM9vti3p2b-0mU9PvBuEQKc5dgrzjJZGWQv8xIiWvgTIzKLYGfj_vHvi4xtn-AsdeDT1QpaPbwLUXtDuDSi1llg/s800/_MKY0527.jpg'/>
</div>
<div class='carousel-item'>
  <img alt='Real Estate Photography Home Example' class='responsive' src='https://1.bp.blogspot.com/-Aj605hw_kDo/X0BOS3KWw8I/AAAAAAADn2M/k1JjmoVGAasvASxXyQkrJCpyBCN7FBwbACLcBGAsYHQ/s800/MKY03071-HDR-Edit.jpg'/>
    </div>
</div>
<a class='carousel-control-prev' data-slide='prev' href='#mainCarousel' role='button'>
<span aria-hidden='true' class='carousel-control-prev-icon'></span>

<span class='sr-only'>Previous</span>
</a>
<a class='carousel-control-next' data-slide='next' href='#mainCarousel' role='button'>
<span aria-hidden='true' class='carousel-control-next-icon'></span>
<span class='sr-only'>Next</span>
</a>
</div> -->

        </div>
      </div>
    </div>

