

      <div class="photography-section-container">

        <div class="photography-container info-container" >

          <section class="intro">      
            <h1>Photography</h1>
            <p class="subtitle">Our aim is to provide homeowners and realtors with professional images that will enhance their property listings.
              By using the latest camera technology, multiple lighting options, and advanced image blending techniques, to produce stunning professional photos. 
              Our services include interior, exterior, aerial photography, and video to help your listings stand out and grab the attention of potential buyers.</p>  
              <div class="btn-group"> 
              <a href="#" class="btn btn-accent">Inquire</a>
              <a href="#" class="btn btn-secondary">More info</a>
            </div>
            <app-table-card-list></app-table-card-list>
            </section>

        </div>

       <div class="photography-container carousel-container">
          
            <div class="image_carousel_container">
              <app-dynamic-image-carousel [galleryType]="'photos'"></app-dynamic-image-carousel>
              <!-- <app-image-carousel></app-image-carousel> -->
            </div>
          
        </div>
      </div>


