

      <div class="section-container">

        <div class="container carousel-container">

          <div class="image_carousel_container">
            <app-dynamic-image-carousel [galleryType]="'photos'"></app-dynamic-image-carousel>

          </div>

      </div>

        <div class="container info-container" >

          <section class="intro">
            <h1>Photography</h1>
            <p class="subtitle">Our aim is to provide homeowners and realtors with professional images that will enhance their property listings.
              By using the latest camera technology, multiple lighting options, and advanced image blending techniques, to produce stunning professional photos.
              Our services include interior, exterior, aerial photography, and video to help your listings stand out and grab the attention of potential buyers.
              We offer two distinct packages to cater to your unique needs and budget: the Showcase Package and the Essentials Package.<br><br>
              <b>Showcase Package:</b><br><br>Our Showcase Package is perfect for clients who want to highlight their property&#8217;s best features and create stunning visuals that capture the attention of potential buyers.<br><br>
              Showcase Package involves taking multiple photos of the same scene at different exposure levels and also flash images to illuminate specific areas of the scene.
              This package involves the use of artificial lighting (flash) to supplement or enhance the natural lighting.
              The final image from HDR blending with flash can have a more polished and evenly lit appearance, with enhanced details in both shadows and highlights. </p>
              <div class="image-container">
                <img src="../../../../assets/images/Showcase_Package.jpg">
                <img src="../../../../assets/images/Showcase_Package2.jpg">
              </div>

              <p class="subtitle">
              <b>Essentials Package:</b><br><br> Our Essentials Package is designed for clients who want professional real estate photography at a more affordable price .<br><br> Essentials Package involves taking multiple photos of the same scene at different exposure levels and merging
              these images into one, retaining details in both the shadows and highlights.
              This process relies on natural lighting conditions and does not involve additional artificial lighting sources.
              The final image from Essentials Package often has a natural and balanced look, showing a wide range of tones but also colors form reflective surfaces.</p>

              <div class="image-container">
                <img src="../../../../assets/images/Essentials_Package.jpg">
                <img src="../../../../assets/images/Essentals-Package2.jpg">
              </div>

              <div class="btn-group">
                <a href="#booknow" class="btn btn-accent">Book Online</a>
            </div>

            </section>

        </div>


      </div>


