

  .photography-section-container{
    display: flex;
    flex-wrap: wrap;
     background: #AB987A;
  }
.photography-container{
  display: grid;
  flex: 1;
  align-items: center;
  justify-content: center;
}
  .carousel-container{
    display: block ;
     max-width: 1024px;
     height: 768px;
  }

  .image_carousel_container{
    width: 100%;
  }


  @media (max-width: 768px) {
    .photography-section-container{
      flex-direction: column;
    }
  }