<div class="section-container">
  <div class="container info-container">
    <section class="intro">
      <h1>Property Management Photography</h1>
      <h2 class="pageHeader"></h2>
      <p class="subtitle">The lack of resources needed to take and edit high-quality photos of your properties leads to low-quality or amateur photos which can make
        your properties look unappealing and unprofessional, and they can negatively impact your ability to attract potential renters.
        Not only that but it can negatively impact your company's branding and make it difficult to create a consistent marketing message. </p>

      <ul>

        <li>We capture high-quality images that highlight your property's unique features using professional experience combined with professional cameras and lighting equipment to capture the best angles, and composition.</li>

        <li> Our high-quality photos attract more rental activity by making your property look professional and appealing to potential renters, setting it apart from the competition.</li>

        <li>Consistent, high-quality photos improve your brand image, showcasing your commitment to providing high-quality services and professionalism to potential clients.</li>

        <li>Save time and effort by letting us handle the photography while you focus on managing your properties.</li>

        <li>High-quality photos enhance your marketing materials and overall strategy by providing a library of appealing images for use in flyers, brochures, and online listings.</li>

      </ul>
      <div class="btn-group">
        <a href='tel:4253904204' class="btn btn-secondary">Schedule Today</a>
      </div>
    </section>
  </div>
  <div class="container carousel-container">
    <div class="image_carousel_container">
      <img class ="responsive-img" src="https://firebasestorage.googleapis.com/v0/b/seattlerealestatemedia.appspot.com/o/PropertyManagement%2F7R307857.jpg?alt=media&token=b7f9f8ed-c636-4eec-9ebc-e6a7c906a8da"/>
    </div>
  </div>
</div>
