rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
       allow read, write: if false;
    }
    match /bookingRequests/{document} {
      allow read, write: if true;
    }
     match /mail/{document} {
      allow read, write: if true;
    }
     match /uploads/{document} {
      allow read, write: if true;
    }
     match /users/{document} {
      allow read, write: if true;
    }
    match /product/{document} {
      allow read, write: if true;
    }

  }
}
