<header class="primary-header">
    <a class='logo' href='#'><img src='./../../../../assets/srep_logo2.svg'/></a>
    <div class="primary-naviation-container">
    <nav>
      <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only" aria-expanded="false">Menu</span></button>
      <ul id="primary-navigation" class="primary-navigation">
        <li class='navbar_item'>
          <a class='nav-link internal' routerLink="/"  (click)="scrollTo('about')">HOME</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal' routerLink="/"  (click)="scrollTo('portfolio')">PHOTOS</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal'  (click)="scrollTo('matterport')">3D TOURS</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal' (click)="scrollTo('aerial')" >AERIAL</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal' (click)="scrollTo('video')" >VIDEO</a>
        </li>
         <li class='navbar_item'>
          <a class='nav-link internal' (click)="scrollTo('floorplan')">FLOOR PLAN</a>
        </li>
         <li class='navbar_item'>
          <a class='nav-link internal' (click)="scrollTo('staging')" >VIRTUAL STAGING</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal' (click)="scrollTo('estimator')" >BOOK NOW</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal' (click)="scrollTo('contact')" >ABOUT US</a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link internal' data-target='.bd-example-modal-lg' data-toggle='modal' href='tel:4253904204' ><img src="../../../../assets/call.svg"><span class='mobileMediaText'>Call Now</span></a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link' href='mailto:seattlerealestatephoto@gmail.com' style='color:#000000;'><img src="../../../../assets/email.svg"/><span class='mobileMediaText'>EMAIL</span></a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link' href='http://www.instagram.com/seattlerealestatephoto' style='color:#000000; '><img src="../../../../assets/ig.svg"/><span class='mobileMediaText'>INSTAGRAM</span></a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link' href='http://www.facebook.com/monkifoto' style='color:#000000;'><img src="../../../../assets/fb.svg"/><span class='mobileMediaText'>FACEBOOK</span></a>
        </li>
        <li class='navbar_item'>
          <a class='nav-link' href='https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg' style='color:#000000;'><img  src="../../../../assets/youtube.svg"/><span class='mobileMediaText'>YOUTUBE</span></a>
        </li>

      </ul>
    </nav>
    </div>
  </header>
