.logo {
  padding-left: 2rem;
  margin: 1.5rem clamp(2.5rem, 4vw, 3.5rem);
  width: 300px;
}

.active {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-dark) / 0.5);
}

.primary-header {
  position: fixed;
  background-color: hsl(var(--clr-light));
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 5px 4px #333;
  z-index: 3000;
  text-transform: uppercase;
}

.primary-naviation-container{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav {
  padding-inline: 3rem;
  font-family: var(--ff-Montserrat);
}

.primary-navigation {
  display: flex;
  list-style: none;
  --gap: clamp(.5rem, 1vw, 1rem);
  gap: var(--gap);
  width: 100%;
  height: 3.5rem;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.primary-navigation a {
  font-family: var(--ff-Montserrat);
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(var(--clr-dark));
  font-weight: 700;
  cursor: pointer;
}


li {
  margin-left: 8px;
  margin-right: 8px;
}

.buttons {
  padding: 5px 10px !important;
  font-size: 15px;
  max-width: 250px !important;
  font-weight: bold !important;
}

.page-padding {
  height: 40px;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.mobileMediaText {
  display: none;
}

.nav-link img {
  height: 1.5rem;
}

.mobileOnly{
  display: none;
}

@media (max-width: 35rem) {

}

.mobile-nav-toggle {
  display: none;
}

.bookNow{
  white-space: nowrap;
  border:1px solid gray;
  padding: .5rem 1rem;
  border-radius: 5px;
  color: #FF533D !important;
}



/* CSS for tablets and laptops */
@media (min-width: 480px) and (max-width: 1280px) {
  nav {
    padding-inline: 1rem;
    font-family: var(--ff-Montserrat);
  }

  .logo {
    padding-left: .5rem;
    margin: 1rem clamp(1rem, 3vw, 1rem);
    width: 200px;
  }

  .primary-navigation {

  --gap: clamp(.2rem, .1vw, .2rem);
    gap: var(--gap);
    // width: 100%;
    height: 3.5rem;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    word-wrap: nowrap;
  }


  .primary-navigation a {
    color: hsl(var(--clr-dark));
    font-weight: 400;
    // font-size: var(--fs-200);
    // font-size: 1rem clamp(1rem, 3vw, 1rem);
    font-size: 1.3vw;
    cursor: pointer;
    word-wrap: nowrap;
  }

  .social_media_icon{
display: none;
  }


}


@media (min-width: 320px) and (max-width: 480px) {
  .primary-navigation {
    position: fixed;
    align-items: unset;
    z-index: 1000;
    inset: 0 0 0 5%;
    padding: min(10rem, 10vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    border-radius: 0px;
    background: hsl(var(--clr-white) / 0.5);
    backdrop-filter: blur(1.5rem);
    height: 100%;

  }

  .navigationprimary- a {
    color: hsl(var(--clr-dark));
    text-decoration: none;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1.5rem;
    top: 1.5rem;
    color: var(--foreground);
    background: transparent;
    background-image: url(../../../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../../../../assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid red;
    outline-offset: 5px;
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  nav {
    border-radius: 0px;
    background-color: #fff;
    padding-inline: 0;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
  }

  .primary-header {
    display: flex;
    justify-content: left;
  }

  .logo {
    
    all:unset;
    box-sizing: border-box;
    padding:.25rem;
    width: 100%;
    padding-left: 10%;
  }

  li {
    margin-top: .5rem;
  }

  .mobileMediaText {
    display: none;
  }

  .mobileOnly{
    display: block;
  }

}
