

<p>Our goal at Seattle Real Estate Media is to provide exceptional service to all our clients. To ensure that we can accommodate all requests and maintain our high standards of service, we have implemented the following cancellation policy:</p>
<br><br>
<b>Cancellation by Client:</b><br><br>
<p>Cancellations made 24 hours or more in advance of the scheduled appointment will not incur any charges.<br><br>
Cancellations made less than 24 hours before the scheduled appointment may be subject to a cancellation fee of $50.<br><br>

Cancellation by Seattle Real Estate Media:<br><br>
In the rare event that we need to cancel a scheduled appointment due to unforeseen circumstances such as equipment failure or photographer unavailability, we will make every effort to reschedule the appointment at a time convenient for you.
If rescheduling is not possible, you will not be charged for the canceled appointment.

<br><br>
<b>Rescheduling:</b>
We understand that unforeseen circumstances may arise that require you to reschedule your appointment. We are happy to accommodate rescheduling requests at no additional charge,
 provided that you notify us at least 24 hours in advance of the scheduled appointment.

<br><br>
<b>No-shows:</b>
Clients who do not show up for a scheduled appointment without prior notification will be considered a "no-show." No-shows may be subject to a cancellation fee of full amount.

<br><br>
<b>Last-Minute Cancellations:</b>
For cancellations made less than 2 hours before the scheduled appointment, a cancellation fee of full service amount will apply.

<br><br>
<b>Refunds:</b>
Refunds for canceled appointments will be issued within [Number of Days] days of the cancellation request. Refunds will be issued using the same method of payment used for the original transaction.
By scheduling an appointment with [Company Name], you agree to abide by the terms of our cancellation policy. We appreciate your understanding and cooperation.</p>
<br><br>
If you have any questions or need to reschedule/cancel an appointment, please contact us at [Contact Information].
