
<table class="bookingInfo">
  <thead>
    <td><strong>Customer Name</strong></td>
    <td><strong>Email Address</strong></td>
    <td><strong>Property Address</strong></td>
    <td><strong>Appointment Date</strong></td>
    <td><strong>Time</strong></td>
    <td><strong>Property Size</strong></td>
    <td><strong>Media Packages</strong></td>
    <td><strong>Total Cost</strong></td>
    <td><strong>Commands</strong></td>
  </thead>
 <tbody>
  <tr  *ngFor="let booking of listOfBootings; let i = index">
    <td>{{booking['name']}}</td>
    <td>{{booking['email']}}</td>
    <td>{{booking['address']}}</td>
    <td>{{booking['date']}}</td>
    <td>{{booking['time']}}</td>
    <td>{{booking['size']}}</td>
    <td>{{booking['mediaPackage']}}</td>
    <td>{{booking['total']}}</td>
    <td><button type="button" (click)="onDelete(booking)">Delete</button></td>
  </tr>
</tbody>
</table>

