<div class="booking_info_container">
  <span>Total number of bookings: {{count}}</span>
<table class="bookingInfo">
  <thead>
    <th><strong>ID</strong></th>
    <th><strong>Customer Name</strong></th>
    <th><strong>Email Address</strong></th>
    <th><strong>Property Address</strong></th>
    <th><strong>Appointment Date</strong></th>
    <th><strong>Time</strong></th>
    <th><strong>Property Size</strong></th>
    <th><strong>Media Packages</strong></th>
    <th><strong>Total Cost</strong></th>
    <th><strong>Closed</strong></th>
    <th><strong>Commands</strong></th>
  </thead>
 <tbody>
  <tr  *ngFor="let booking of listOfBookings; let i = index">
    <td>{{booking['id']}}</td>
    <td>{{booking['name']}}</td>
    <td>{{booking['email']}}</td>
    <td>{{booking['address']}}</td>
    <td>{{booking['date']}}</td>
    <td>{{booking['time']}}</td>
    <td>{{booking['size']}}</td>
    <td>{{booking['mediaPackage']}}</td>
    <td>${{booking['total']}}</td>
    <td>{{booking['Closed']}}</td>
    <td><button class="btn btn-primary" type="button" (click)="onDelete(booking)">Delete</button></td>
  </tr>
</tbody>
</table>
</div>

