
.section-container {
  padding-top: 10rem;
  padding-inline: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background: #ccc;
  font-size: 0.8rem;
}

.gallery-container {
  padding: 20px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.gallery-item {
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.gallery-item img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}
