<p>These Terms of Service ("Terms") govern your use of the services provided by Seattle Real Estate Media("Company," "we," "us," or "our") related to real estate photography, videography, and related services ("Services").
   By using our Services, you agree to these Terms. Please read them carefully.
<br><br>
  <b>1. Services:</b>
  <br><br>
  We provide real estate photography, videography, aerial photography, aerial videography, 3D tours, social media reels, and marketing materials for real estate listings.
  Our Services are provided based on the package selected by the client and are subject to availability.
  <br><br>
  <b>2. Scheduling and Payment:</b>
  <br><br>
  Clients must schedule appointments for Services in advance.
  Payment is due at the time of scheduling, unless otherwise agreed upon in writing.
  We accept payment via Zelle, Venmo, Paypal, Check Credit Card and Cash.
  <br><br>
  <b>3. Cancellation and Rescheduling:</b>
  <br><br>
  Cancellations made at least 24 hours before the scheduled appointment are eligible for a full refund.
  Cancellations made less than 24 hours before the scheduled appointment may incur a cancellation fee, as outlined in our Cancellation Policy.
  Rescheduling requests are subject to availability and must be made at least 24 hours before the scheduled appointment.
  <br><br>
  <b>4. Intellectual Property:</b>
  <br><br>
  We retain all rights to the photographs, videos, and other materials created as part of our Services.
  Clients are granted a non-exclusive license to use the materials for the purpose of marketing the property listed in the Services request.
  <br><br>
  <b>5. Liability:</b>
  <br><br>
  While we take every precaution to ensure the quality and accuracy of our Services, we are not liable for any inaccuracies or errors in the materials provided.
  Clients are responsible for ensuring that the property is ready for photography/videography, including staging and cleanliness.
  <br><br>
  <b>6. Privacy:</b>
  <br><br>
  We respect the privacy of our clients and the properties we photograph/videograph. We will not share or sell client information or use photographs/videos for any purpose other than the agreed-upon Services.
  <br><br>
  <b>7. Termination:</b>
  <br><br>
  We reserve the right to terminate Services and/or access to our website for any client who violates these Terms or engages in inappropriate behavior.
  <br><br>
  <b>8. Changes to Terms:</b>
  <br><br>
  We reserve the right to update or change these Terms at any time. Clients will be notified of any changes.
  By using our Services, you agree to these Terms. If you have any questions or concerns, please contact us at [Contact Information].
  <br><br>

  [Company Name]
  [Contact Information]</p>
